.no-margin {
  margin: 0 !important;
}
.no-margin-left {
 margin-left: 0 !important;
}
.no-margin-right {
 margin-right: 0 !important;
}
.no-margin-top {
 margin-top: 0 !important;
}
.no-margin-bottom {
 margin-bottom: 0 !important;
}

.margin-top-lg {
  margin-top: 30px !important;
}
.margin-top-md {
  margin-top: 15px !important;
}
.margin-top-sm {
  margin-top: 8px !important;
}

.margin-right-lg {
  margin-right: 30px !important;
}
.margin-right-md {
  margin-right: 15px !important;
}
.margin-right-sm {
  margin-right: 8px !important;
}

.margin-bottom-lg {
  margin-bottom: 30px !important;
}
.margin-bottom-md {
  margin-bottom: 15px !important;
}
.margin-bottom-sm {
  margin-bottom: 8px !important;
}

.margin-left-lg {
  margin-left: 30px !important;
}
.margin-left-md {
  margin-left: 15px !important;
}
.margin-left-sm {
  margin-left: 8px !important;
}

.margin-sm {
  margin: 8px !important;
}

.margin-md {
  margin: 15px !important;
}

.margin-lg {
  margin: 30px !important;
}

.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-top-lg {
  padding-top: 30px !important;
}
.padding-top-md {
  padding-top: 15px !important;
}
.padding-top-sm {
  padding-top: 8px !important;
}

.padding-right-lg {
  padding-right: 30px !important;
}
.padding-right-md {
  padding-right: 15px !important;
}
.padding-right-sm {
  padding-right: 8px !important;
}

.padding-bottom-lg {
  padding-bottom: 30px !important;
}
.padding-bottom-md {
  padding-bottom: 15px !important;
}
.padding-bottom-sm {
  padding-bottom: 8px !important;
}

.padding-left-lg {
  padding-left: 30px !important;
}
.padding-left-md {
  padding-left: 15px !important;
}
.padding-left-sm {
  padding-left: 8px !important;
}

.padding-sm {
  padding: 8px !important;
}

.padding-md {
  padding: 15px !important;
}

.padding-lg {
  padding: 30px !important;
}

.h100 {
  height: 100% !important;
}
.w100 {
  width: 100% !important;
}
.hw100 {
  width: 100% !important;
  height: 100% !important;
}

.centered {
  margin: 0 auto !important;
}

.pin-top,
.pin-top-xs,
.pin-top-sm,
.pin-top-md,
.pin-top-lg,
.pin-right,
.pin-right-xs,
.pin-right-sm,
.pin-right-md,
.pin-right-lg,
.pin-bottom,
.pin-bottom-xs,
.pin-bottom-sm,
.pin-bottom-md,
.pin-bottom-lg,
.pin-left,
.pin-left-xs,
.pin-left-sm,
.pin-left-md,
.pin-left-lg, {
  position: absolute;
}

.pin-right {
  right: 0 !important;
}
.pin-right-xs {
  right: 6px !important;
}
.pin-right-sm {
  right: 8px !important;
}
.pin-right-sm {
  right: 15px !important;
}
.pin-right-lg {
  right: 30px !important;
}

.pin-left {
  left: 0 !important;
}
.pin-left-xs {
  left: 6px !important;
}
.pin-left-sm {
  left: 8px !important;
}
.pin-left-sm {
  left: 15px !important;
}
.pin-left-lg {
  left: 30px !important;
}

.pin-top {
  top: 0 !important;
}
.pin-top-xs {
  top: 6px !important;
}
.pin-top-sm {
  top: 8px !important;
}
.pin-top-sm {
  top: 15px !important;
}
.pin-top-lg {
  top: 30px !important;
}

.pin-bottom {
  bottom: 0 !important;
}
.pin-bottom-xs {
  bottom: 6px !important;
}
.pin-bottom-sm {
  bottom: 8px !important;
}
.pin-bottom-sm {
  bottom: 15px !important;
}
.pin-bottom-lg {
  right: 30px !important;
}