html, body {
  height: 100%:
}

body {
  background-color: #e5e5e5;
}

::selection {
  color: #fff;
  background-color: #8c2232;
}

::-moz-selection {
  color: #fff;
  background-color: #8c2232;
}

.portfolio-item {
  margin-bottom: 30px;
}

.bg-light,
.navbar-light {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #1a1a1a !important;
  color: #808080;
}

.nav-item > a.nav-link {
  padding: 8px 15px !important;
  color: #333 !important;
  cursor: pointer !important;
  font-size: 18px !important;
}


a.img-link > img {
  max-width: 100%;
}

a, a:visited {
  color: #333;
}

a:hover {
  color: #8c2232;
  text-decoration: none;
}

a.dropdown-item:active, a.dropdown-item:focus {
  background-color: #3a3a44 !important;
  color: #fff !important;
}

ul.link-list-left {
  padding-left: 18px;
}

ul.footer-nav,
ul.footer-links {
  list-style-type: none !important;
  padding-left: 0;
}
  ul.footer-nav > li {
    border-bottom: 1px solid #333;
  }
    ul.footer-nav > li > a {
      color: #999;
      display: block;
      padding: 4px 0;
    }
      ul.footer-nav > li > a:hover {
        color: #bbb;
        display: block;
        padding: 4px 0;
      }

ul.footer-links > li {
  display: block;
  padding: 4px 0;
}

ul > li > a > i.fa,
ul > li > i.fa {
  margin-right: 7px;
}

.container, .row {
  background-color: #fff;
}

button, .btn {
  display: inline-block;
  width: auto;
}

button:focus, .btn:focus, .btn-default:focus, .btn-primary:focus, .btn-success:focus, .btn-danger:focus,
button:active, .btn:active, .btn-default:active, .btn-primary:active, .btn-success:active, .btn-danger:active {
  background-color: #4b4b58 !important;
  border-color: #3a3a44 !important;
  box-shadow: none !important;
  color: #e8d2ba !important;
  outline: 0;
}

button.btn-default, .btn.btn-default {
  background-color: #e8d2ba;
  color: #3a3a44;
}

button.btn-default:hover, .btn.btn-default:hover {
  background-color: #e4cbaf;
}

button.btn-default:focus, .btn.btn-default:focus {
  background-color: #ecd9c5;
}

button.btn-primary, .btn.btn-primary {
  background-color: #3a3a44;
  color: #e8d2ba;
}

button.btn-primary:hover, .btn.btn-primary:hover {
  background-color: #33333c;
}

button.btn-primary:focus, .btn.btn-primary:focus {
  background-color: #41414c;
}

button.btn-icon, .btn.btn-icon {
  width: 30px;
  height: 27px;
  padding: 0;
  font-size: 18px;
}

button.color-option,
button.wheels-option {
  border: 1px solid #333;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  margin: 10px 10px 0;
  width: 40px;
}
  button.color-option:last-child,
  button.wheels-option:last-child {
    margin-right: 0;
  }

button.color-option.selected,
button.wheels-option.selected {
  border-color: rgba(2,39,133,1) !important;
  box-shadow: 0px 0px 15px 0px rgba(2,39,133,1) !important;
}

.battery-option {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 6px;
}
  .battery-option input[type=checkbox] {
    margin-right: 6px;
  }
  .battery-option .option-description {
    width: 210px;
  }

  .battery-option.selected {
    border-color: rgba(2,39,133,1);
    box-shadow: 0px 0px 15px 0px rgba(2,39,133,1) !important;
  }

.option-description {
  width: 180px;
  font-size: 16px;
  font-size: 16px;
  display: inline-block;
}

.option-price {
  width: 80px;
  font-size: 16px;
  display: inline-block;
  color: #888;
  text-align: right;
}

button.wheels-option {
  position: relative;
  padding: 0;
}

button.wheels-option > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
  background-color: #000;
}

#solid-black {
  background-color: #000 !important;
}

#midnight-silver-metallic {
  background-color: #444 !important;
  border-color: #444;
}

#deep-blue-metallic {
  background-color: darkblue !important;
  border-color: darkblue;
}

#silver-metallic {
  background-color: #999 !important;
  border-color: #999;
}

#pearl-white {
  background-color: #fff !important;
  border-color: #666;
}

#red {
  background-color: red !important;
  border-color: red;
}

#car-preview-wrap {
  min-height: 260px;
}

#car-preview {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.color-wrap,
.wheels-wrap {
  display: inline-block;
  padding: 20px;
  width: auto;
}

#color-description,
#wheels-description,
#color-selection,
#wheels-selection,
#color-price,
#wheels-price {
  font-size: 15px;
}

#color-selection,
#wheels-selection {
  color: #333;
  font-weight: bold;
}

#color-price,
#wheels-price {
  color: #666;
  font-weight: normal;
}

.wrap {
  position: relative;
  box-sizing: border-box;
}

#invoice tfoot {
  border-top: 1px solid #333;
}

#invoice-total-description {
  text-align: right;
  padding-right: 10px;
}

.chk-wrap input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.chk-wrap h4,
.chk-wrap h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: inline-block;
}
