html, body, .container {
  height: 100%;
}

body {
  background-color: #e5e5e5;
}

.portfolio-item {
  margin-bottom: 30px;
}

.bg-light,
.navbar-light {
  background-color: #fff !important;
}

.bg-dark {
  background-color: #1a1a1a !important;
  color: #808080;
}

.nav-item > a.nav-link {
  padding: 8px 15px !important;
  color: #333 !important;
  cursor: pointer !important;
  font-size: 18px !important;
}

input, select {
  border-radius: 6px;
  padding: 1px 4px;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #ccc;
}

a.img-link > img {
  max-width: 100%;
}

a, a:visited {
  color: #333;
}

.container, .row {
  background-color: #fff;
}

button, .btn {
  display: inline-block;
  width: auto;
}

button:focus, .btn:focus, .btn-default:focus, .btn-primary:focus, .btn-success:focus, .btn-danger:focus,
button:active, .btn:active, .btn-default:active, .btn-primary:active, .btn-success:active, .btn-danger:active {
  outline: 0;
}


button.color-option,
button.wheels-option {
  border: 1px solid #333;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  margin: 6px;
  width: 40px;
}

button.color-option {
  padding: 0;
  height: 32px;
  width: 32px;
}

button.color-option.selected,
button.wheels-option.selected {
  border-color: rgba(2,39,133,1) !important;
  box-shadow: 0px 0px 15px 0px rgba(2,39,133,1) !important;
}

.battery-option {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
  clear: both;
  min-height: 44px;
}
  .battery-option input[type=checkbox] {
    float: left;
    margin-right: 6px;
    margin-top: 4px;
  }
  .battery-option .option-description {
    float: left;
    width: 210px;
  }
  .battery-option .option-price {
    float: right;
  }
  
  .battery-option > ul,
  .battery-option > ul > li {
    padding: none;
    list-style-type: none;
  }

  .battery-option > ul {
    clear: both;
    display: none;
  }
    .battery-option > ul > li:before {
      content: "•";
      color: rgb(17, 55, 151);
      display: inline-block;
      font-size: 20px;
      margin-left: -24px;
      margin-right: 6px;
    }

  .battery-option.selected {
    background-color: #fff;
    border-color: rgba(2,39,133,1);
    box-shadow: 0px 0px 15px 0px rgb(17, 55, 151) !important;
    max-width: 100%;
  }

    .battery-option.selected > ul {
      display: block;
    }

.option-description {
  width: 160px;
  font-size: 16px;
  font-size: 16px;
  display: inline-block;
  color: #333;
}

.option-price {
  width: 58px;
  font-size: 14px;
  display: inline-block;
  color: #888;
  text-align: right;
  font-weight: normal;
}

button.wheels-option {
  position: relative;
  padding: 0;
}

button.wheels-option > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
  background-color: #000;
}


button.color-option > img {
  height: 100%;
}

#solid-black {
  background-color: #000 !important;
}

#midnight-silver-metallic {
  background-color: #3d3d3d !important;
  border-color: #3d3d3d;
}

#deep-blue-metallic {
  background-color: #131b43 !important;
  border-color: #131b43;
}

#metallic-silver {
  background-color: #9a9a9a !important;
  border-color: #9a9a9a;
}

#pearl-white {
  background-color: #fff !important;
  border-color: #666;
}

#red {
  background-color: red !important;
  border-color: red;
}

#car-preview-wrap {
  min-height: 260px;
}

#car-preview {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  position: absolute;
  clip: 40% 40% 40% 40%;
  margin-left: -100px;
  margin-top: -150px;
  width: 1000px;
  max-width: 120%;
  height: auto;
}

.color-wrap,
.wheels-wrap {
  display: inline-block;
  padding: 20px;
  width: auto;
}

#color-description,
#wheels-description,
#color-selection,
#wheels-selection,
#color-price,
#wheels-price {
  font-size: 15px;
}

#color-selection,
#wheels-selection {
  color: #333;
  font-weight: bold;
}

.wrap {
  position: relative;
  box-sizing: border-box;
}

#invoice tfoot, #invoice-subtotal {
  border-top: 1px solid #333;
}

#invoice-subtotal {
  height: 32px;
}

#invoice-total-description,
#invoice-subtotal-description {
  text-align: right;
  padding-right: 10px;
}

.chk-wrap input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.chk-wrap h4,
.chk-wrap h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.section-wrap {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 6px;
}

.color-wrap,
.wheels-wrap {
  width: 100%;
}

.color-wrap {
  margin-bottom: 6px;
}

#battery-wrap,
#chk-options-wrap,
#invoice-wrap,
#loan-wrap {
  max-width: calc(50% - 3px) !important;
}
#battery-wrap,
#invoice-wrap {
  margin-right: 6px;
}

input[type=text]:read-only {
  background-color: #eee;
  cursor: default;
}